body
{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: fantasy;
}

input
{
  padding: 10px;
  border: none;
  background-color: gray;
  color: white;
  margin: 10px;
  width: 250px;
}

input:hover
{
  cursor: pointer;
  background-color: #2f2f2f;
  color: white;
}
