<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
<title>Event Registration</title>

  <link href="{%static 'form.css' %}" rel="stylesheet" />

</head>


<body>
<h1>Main Event Registration Page</h1>
<hr>

  <form method='POST'> {% csrf_token %}
    <!--Name: <input type="text" name="name"/><br />
    Phone Number:<input type="text" name="phone"/><br />
    College: <input type="text" name="college"/><br />
    Email ID: <input type="text" name="email"/><br />
    Mode of Payment:
    <select name = 'mode'>
      <option value="online">Online</option>
      <option value="cash">Cash</option>
      <option value="paytm">PayTm</option>
      <option value="googlepay">GooglePay</option>
    </select-->
    {{ form.as_p }}

    <input class='button' type="submit" value="Submit" >
  </form>



  	<!--form action="{% url 'eventdone' %}">
  		<input type="submit" value="Get VM ID"><br/>
  	</form-->

  <form action="{% url 'home' %}">
    <input class='button' type="submit" value="Back">
  </form>


</body>




</html>
