<!DOCTYPE html>
<html>
  <h1>Main Event Registration Page</h1>


  <form method='POST'> {% csrf_token %}
    <!--Name: <input type="text" name="name"/><br />
    Phone Number:<input type="text" name="phone"/><br />
    College: <input type="text" name="college"/><br />
    Email ID: <input type="text" name="email"/><br />
    Mode of Payment:
    <select name = 'mode'>
      <option value="online">Online</option>
      <option value="cash">Cash</option>
      <option value="paytm">PayTm</option>
      <option value="googlepay">GooglePay</option>
    </select-->
    {{ form.as_p }}
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>






</html>
