<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
  <head>
<link href="{%static 'style.css' %}" rel="stylesheet" />
    <meta charset="utf-8">
    <title>Registered Events</title>
  </head>
  <body>
    <h1>Registered for Events</h1>
    <hr>
    <form action="{% url 'home' %}">
      <input type="submit" value="Back">
    </form>
    <table>
      <tr>
        <th>VM ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>College</th>
        <th>Email ID</th>
        <th>Mode of Payment</th>
      </tr>
    {% for item in obj.all %}

      <tr >
        <td>{{ item.vmid }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.phone }} </td>
        <td>{{ item.college }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.mode}}</td>
      </tr>
    {% endfor %}
  </table>

  </body>
</html>
